.navbar {
    overflow: hidden;
    background-color: rgba(29, 29, 29, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 16%;
}

.nav-logo {
    overflow: hidden;
    float: left;
    width: 50px;
    max-width: 50px;
    height: auto;
    padding: 10px 10px;
}

.nav-logo-text {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 9.5px 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.nav-anchor-right {
    float: right;
    display: block;
    color: #f2f2f2;
    padding: 25px 18px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar .nav-anchor {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    background: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
}

body {
    background-color: #cccccc;
    margin: 0 auto;
}

.the-tools {
    top: 0;
    width: 100%;
    height: auto;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}